<mat-accordion class="w-full">
  <ng-container *ngFor="let item of collections">
    <mat-expansion-panel (opened)="onOpenExpansion(item)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-checkbox
            *ngIf="selectionMode != 'none'"
            click-stop-propagation
            (change)="$event ? selection.toggle(item) : null"
            [checked]="selection.isSelected(item)"
          ></mat-checkbox>
          {{ item.CollectionName }}</mat-panel-title
        >
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="grid grid-cols-12 gap-y-4">
        <ng-container *ngIf="item.Urls.length == 0">No data</ng-container>

        <ng-container *ngFor="let el of item.Urls; let i = index">
          <div class="col-span-1">
            {{ i + 1 }}
          </div>
          <div class="col-span-6">
            <strong>Link:&nbsp;</strong>
            <a class="link" [href]="el.MainUrl">{{ el.MainUrl }}</a>
          </div>
          <div class="col-span-5">
            <strong>Shorten:&nbsp;</strong>
            <a class="link" [href]="el.FullShortenedUrl" target="_blank">{{
              el.ShortenedUrl
            }}</a>
          </div>
        </ng-container>
      </div>
    </mat-expansion-panel>
  </ng-container>

  <!-- <ng-container class="block" *ngIf="collections.length == 0&&!addMode"> No data </ng-container> -->

  <ng-container *ngIf="addMode"></ng-container>

  <mat-card class="my-2 py-2" *ngIf="addMode">
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-title>Add Collection Form</mat-card-title>
    <mat-card-content>
      <mat-form-field class="w-full">
        <input
          matInput
          [formControl]="collectionNameControl"
          placeholder="Enter Collection Name here"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button color="warn" (click)="onClear()">Cancel</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar
        *ngIf="saveSubscription && !saveSubscription.closed"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <button mat-button class="mt-4" color="primary" (click)="addMode = true">
    <mat-icon>add</mat-icon>Add Collection
  </button>
</mat-accordion>
