.main {
  background: url("../../../../assets/images/background/hero-bg-large.svg")
    no-repeat;
  background-size: cover !important;
  background-color: #143157;
}
input:focus {
  border: none;
  --tw-ring-color: white;
}
