<nav class="sticky top-0 bg-white h-14 w-full z-50">
  <ul class="flex h-full justify-end items-center">
    <h2 class="text-bold brand-font ml-3 mr-auto">Briefly</h2>

    <li>
      <button mat-button>My Collections <mat-icon>library_books</mat-icon></button>
    </li>

    <li
      class="py-2 mx-4 rounded-sm text-black cursor-pointer flex flex-col items-end"
      *ngIf="!pending"
    >
      <span>
        {{ userService.User.userFullName | replaceUnderline }}
      </span>
      <span class="text-xs text-gray-400">
        <!-- {{ '-' | tokenDecoder: 'role' | ACCESS }} -->
      </span>
    </li>
    <ng-container *ngIf="userService.token; else loginBtn"
      ><li
        class="mx-2 text-white rounded-full cursor-pointer"
        [matMenuTriggerFor]="menu"
        #menuTrigger="matMenuTrigger"
      >
        <img
          *ngIf="hasProfileImg; else noImg"
          class="w-12 h-12 rounded-full border-2 border-gray-300"
          src="{{ getImageUrl() }}"
          alt=""
          (error)="hasProfileImg = false"
        />
        <ng-template #noImg>
          <img
            src="../../../../assets/images/default_profile.png"
            class="w-12 h-12 rounded-full border-2 border-gray-300"
            alt=""
          />
        </ng-template>
      </li>
    </ng-container>
    <ng-template #loginBtn>
      <button mat-button color="primary" [routerLink]="'auth/login'">Log in</button>
    </ng-template>
  </ul>
</nav>

<mat-menu #menu="matMenu">
  <div
    mat-menu-item
    disableRipple
    class="menu-item"
    style="height: 320px; width: 200px"
    (click)="$event.stopPropagation()"
  >
    <div class="flex flex-col justify-center items-center p-2 h-full">
      <img
        *ngIf="hasProfileImg; else noImg2"
        class="w-22 h-22 rounded-full border-2 border-black"
        src="{{ getImageUrl() }}"
        alt=""
        (error)="hasProfileImg = false"
      />
      <ng-template #noImg2>
        <img
          class="w-22 h-22 rounded-full border-2 border-black"
          src="../../../../assets/images/default_profile.png"
          alt=""
        />
      </ng-template>
      <b style="height: 22px" *ngIf="!pending">
        {{ userService.User.username }}
      </b>
      <b style="height: 22px" *ngIf="!pending">
        {{ userService.User.userFullName | longTextCutter: 15 }}
      </b>
      <p *ngIf="!pending">
        {{ userService.User.email | longTextCutter: 18 }}
      </p>
      <!-- <button
        color="primary"
        (click)="onEditProfile(menuTrigger)"
        class="btn flex flex-nowrap items-center justify-around mb-2 mt-0 w-full"
      >
        <mat-icon class="text-white">edit</mat-icon>Edit profile
      </button> -->
      <button
        class="w-full"
        mat-stroked-button
        color="warn"
        (click)="onLogout()"
      >
        <mat-icon color="warn">logout</mat-icon>
        logout
      </button>
    </div>
  </div>
</mat-menu>
