<div class="home-background flex flex-col justify-center">
  <div class="flex w-full justify-center">
    <div class="flex flex-col">
      <div class="header">
        <h1 class="header-title">Short links, big results</h1>
        <p>
          A URL shortener built with powerful tools to help you grow and protect
          your brand.
        </p>
      </div>
      <section class="grid grid-cols-12 gap-4">
        <mat-form-field appearance="outline" class="col-span-10">
          <input
            matInput
            placeholder="Enter Url"
            [formControl]="linkTextControl"
          />
          <mat-icon class="go-button" mat-suffix color="primary"
            >search</mat-icon
          >
        </mat-form-field>
        <div class="col-span-2 self-center mb-2">
          <button
            mat-raised-button
            color="primary"
            class="w-full"
            type="button"
            (click)="onSubmitUrl()"
          >
            Submit
          </button>
        </div>
        <div class="col-span-10">
          <strong>Result is:&nbsp;</strong>
          <span class="link" (click)="openShortenUrl(result.route)">{{result.text}}</span>
        </div>
        <div class="col-span-2 self-center">
          <button
            mat-raised-button
            color="primary"
            class="w-full"
            type="button"
            (click)="onSaveBtn()"
          >
            Save
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
