.home-background {
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/images/leone-venter-VieM9BdZKFo-unsplash.jpg");
  background-repeat: space;
  background-size: cover;
  background-position: center;
}
